body {background-color:black;font-family: arial;color:white}
h1{color:gray;font-family: verdana}
.maindiv {
    margin: auto;       /* Allows the div to be on the center of the page automatically */
    background-color: white;
    color:black;
    width: 50%;
    padding: 30px;
    border-radius: 25px;
}
.div2 {
    padding-left: 90px; /*Aligment of input box, range slider and dropdown box*/
}
.button1 {
    border-radius: 4px; /*Make the button borders round*/
}

